/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <input/processors.dtsi>
#include <behaviors/input_gestures_accel.dtsi>
#include <input/processors/report_rate_limit.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <scroll-snap.dtsi>
#include "keyball61.dtsi"

&kscan0 {
    row-gpios
        = <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
	, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
    
	col-gpios
        = <&pro_micro 21  GPIO_ACTIVE_HIGH>
        , <&pro_micro 20  GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
	, <&pro_micro 18 GPIO_ACTIVE_HIGH>
	, <&pro_micro 8 GPIO_ACTIVE_HIGH>
	, <&pro_micro 9 GPIO_ACTIVE_HIGH>
	;
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 0, 10)>,
                <NRF_PSEL(SPIM_MISO, 0, 10)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 0, 10)>,
                <NRF_PSEL(SPIM_MISO, 0, 10)>;
            low-power-enable;
        };
    };
};

&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        // automouse-layer = <1>;  // Input Processorを使用するため無効化
        // scroll-layers = <3>;
        // snipe-layers = <7>;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 8)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
};

&zip_temp_layer {
    require-prior-idle-ms = <200>;  // トラックボール入力から200ms後にAML有効化（誤爆防止）
    // マウスキー以外のキーを押してマウスレイヤー自動解除 下記のキーをマウスキーとして除外。値はコンボキーの設定から参照するとよい
    excluded-positions = <
        27
        28
        29
    >;
};

&pointer_accel {
    // https://github.com/oleksandrmaslov/zmk-pointing-acceleration?tab=readme-ov-file#general-use
    input-type = <INPUT_EV_REL>; // For relative input devices
    min-factor = <500>;        // ゆっくり動かしたときの倍率 1000 = 1x
    max-factor = <2000>;       // 速く動かしたときの倍率 1000 = 1x
    speed-threshold = <800>;  // 加速が始まる速度（counts/sec）
    speed-max = <6000>;          // 最大加速度に達する速度 （counts/sec）
    acceleration-exponent = <1>; // 加速速度をコントロール 1 = 線形(滑らかで緩やかな加速) 2 = 二次(加速度がより速く増加) 3 = 立方次(非常に急速な加速度増加)
    track-remainders;          // 細かい動きを蓄積して反映
};

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        // Input Processors
        // zip_report_rate_limit: param: レポートレート制限
        // pointer_accel: ポインター加速
        // zip_temp_layer: オートマウスレイヤー param: 切り替えるレイヤー番号 持続時間(ms)
        input-processors = <
            &zip_report_rate_limit 16
            &pointer_accel 
            &zip_temp_layer 2 3000
        >;
        // snipe {
        //         layers = <7>;
        //         input-processors = <&zip_xy_scaler 1 3>;
        // };

        // スクロールレイヤーの設定
        // &zip_scroll_x_scaler はパラメーターを2つ受け取り、1つ目が分子、2つ目が分母となる。 例えば、&zip_xy_scaler 3 2なら、CPIが1.5倍 (3/2倍)になり、&zip_xy_scaler 1 3とすれば0.333倍(1/3倍)になる。
        scroll {
                layers = <3>;
                input-processors = <
                    &zip_xy_to_scroll_mapper
                    &zip_scroll_transform INPUT_TRANSFORM_Y_INVERT
                    &zip_scroll_scaler 1 3
                    &zip_scroll_snap
                >;
        };
    };
};
