#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// マウスキーを押したらタイムアウトを延長（ドラッグやダブルクリックを考慮 1秒）
// Note: temp-layer は「指定レイヤーを一時的に有効化→解除時に無効化」なので、ここはマウスレイヤーを延長対象にする。

&mkp_input_listener { input-processors = <&zip_temp_layer 3 1000>; };

&lt {
    tapping-term-ms = <185>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <175>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
};

/ {
    combos {
        compatible = "zmk,combos";

        comma {
            bindings = <&kp COMMA>;
            key-positions = <40 39>;
            require-prior-idle-ms = <40>;
        };

        period {
            bindings = <&kp PERIOD>;
            key-positions = <45 46>;
            require-prior-idle-ms = <40>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <28 27>;
            layers = <3>;
            require-prior-idle-ms = <125>;
        };

        mb4 {
            bindings = <&mkp MB4>;
            key-positions = <14 15>;
            require-prior-idle-ms = <125>;
        };

        mb5 {
            bindings = <&mkp MB5>;
            key-positions = <21 20>;
            require-prior-idle-ms = <125>;
        };

        close {
            bindings = <&kp LC(W)>;
            key-positions = <16 14>;
        };

        reload {
            bindings = <&kp LC(R)>;
            key-positions = <19 21>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <39 38>;
            require-prior-idle-ms = <125>;
        };

        symbol_layer {
            bindings = <&mo 6>;
            key-positions = <55 52>;
            timeout-ms = <80>;
            require-prior-idle-ms = <175>;
        };

        eisu_mac {
            bindings = <&eisu 0 LANGUAGE_2>;
            key-positions = <28 27>;
            require-prior-idle-ms = <125>;
            layers = <0 4 6>;
        };

        eisu_win {
            bindings = <&eisu 0 LS(LC(NUMBER_9))>;
            key-positions = <28 27>;
            require-prior-idle-ms = <125>;
            layers = <1 5>;
        };

        eisu_chrome {
            bindings = <&eisu 0 RC(SPACE)>;
            key-positions = <28 27>;
            require-prior-idle-ms = <125>;
            layers = <2>;
        };

        kana_mac {
            bindings = <&kana RG(RS(R)) 0>;
            key-positions = <31 32>;
            require-prior-idle-ms = <125>;
            layers = <0 4 6>;
        };

        kana_win {
            bindings = <&kana RG(SLASH) 0>;
            key-positions = <31 32>;
            require-prior-idle-ms = <125>;
            layers = <1 5>;
        };

        kana_chrome {
            bindings = <&kana LC(SPACE) 0>;
            key-positions = <31 32>;
            require-prior-idle-ms = <125>;
            layers = <2>;
        };

        exit_mac {
            bindings = <&to 0>;
            key-positions = <28 27>;
            layers = <7>;
        };

        exit_win {
            bindings = <&to 1>;
            key-positions = <28 27>;
            layers = <8>;
        };

        exit_chrome {
            bindings = <&to 2>;
            key-positions = <28 27>;
            layers = <9>;
        };
    };

    behaviors {
        hyphen_underscore_tilda_equal: hyphen_underscore_tilda_equal {
            compatible = "zmk,behavior-tap-dance";
            label = "HYPHEN_UNDERSCORE_TILDA_EQUAL";
            #binding-cells = <0>;
            bindings = <&mt TILDE MINUS>, <&mt UNDERSCORE EQUAL>;

            tapping-term-ms = <180>;
        };

        quotations_number: quotations_number {
            compatible = "zmk,behavior-tap-dance";
            label = "QUOTATIONS_NUMBER";
            #binding-cells = <0>;
            bindings = <&mt DOUBLE_QUOTES SINGLE_QUOTE>, <&mt PIPE GRAVE>;

            tapping-term-ms = <180>;
        };

        editor_2D_selectio: editor_2D_selectio {
            compatible = "zmk,behavior-tap-dance";
            label = "EDITOR_2D_SELECTIO";
            #binding-cells = <0>;
            bindings = <&mt LC(D) L>, <&mt LC(A) M>;

            tapping-term-ms = <175>;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
        };

        hml: home_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
        };

        hl: homerow_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            retro-tap;
        };

        ctrl_spc_to_meta: ctrl_spc_to_meta {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_SPC_TO_META";
            bindings = <&kp SPACE>, <&kp LEFT_GUI>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        ht_cb_space: ht_cb_space {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CB_SPACE";
            bindings = <&mo>, <&ctrl_spc_to_meta>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        eisu: eisu {
            compatible = "zmk,behavior-hold-tap";
            label = "EISU";
            bindings = <&to_eisu_then_confirm>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            require-prior-idle-ms = <125>;
            quick-tap-ms = <175>;
        };

        mc: mod_combo {
            compatible = "zmk,behavior-hold-tap";
            label = "ModCombo";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
        };

        kana: kana {
            compatible = "zmk,behavior-hold-tap";
            label = "KANA";
            bindings = <&kp>, <&kana_mode>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            require-prior-idle-ms = <125>;
            quick-tap-ms = <175>;
        };

        hml_retro: hml_retro {
            compatible = "zmk,behavior-hold-tap";
            label = "HML_RETRO";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57 58 59 60>;
            retro-tap;
        };

        hmr_retro: hmr_retro {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_RETRO";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <125>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
            retro-tap;
        };
    };

    macros {
        switch_mac: switch_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 0>;
            label = "SWITCH_MAC";
        };

        switch_win: switch_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 1>;
            label = "SWITCH_WIN";
        };

        switch_ipad: switch_iPad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &to 0>;
            label = "SWITCH_IPAD";
        };

        switch_chromebook: switch_chromebook {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &to 2>;
            label = "SWITCH_CHROMEBOOK";
        };

        switch_mac2: switch_mac2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &to 0>;
            label = "SWITCH_MAC2";
        };

        to_eisu_then_confirm: to_alphabet_then_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp F10>,
                <&macro_wait_time 1>,
                <&kp LANGUAGE_2 &kp LS(LC(N9))>,
                <&macro_wait_time 1>,
                <&kana LANG1 0>,
                <&macro_wait_time 1>,
                <&kp LC(RIGHT)>;

            label = "TO_ALPHABET_THEN_ENTER";
        };

        kana_mode: to_kana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LS(N8))>,
                <&macro_wait_time 1>,
                <&kp LANGUAGE_1 &kp INT_HENKAN>;

            label = "TO_KANA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_mac {
            label = "MAC";
            bindings = <
&mt F24 LESS_THAN          &mt F1 C_BLUE_BUTTON  &mt F2 C_GREEN  &mt F3 C_RED_BUTTON  &mt F4 C_YELLOW    &mt F5 C_PLAY_PAUSE                                                   &mt F6 C_PREV             &mt F7 C_NEXT              &mt F8 C_MUTE     &mt F9 C_VOLUME_DOWN  &mt F10 C_VOLUME_UP  &kp DELETE
&mt LC(LA(DELETE)) ESCAPE  &kp Q                 &kp L           &kp U                &kp F              &mt SEMI COLON                                                        &mt QUESTION EXCLAMATION  &kp W                      &kp R             &kp Y                 &mt EQUAL PLUS       &mt LG(H) PRINTSCREEN
&hl 4 TAB                  &hl 4 E               &hml LCTRL I    &hml LEFT_ALT A      &hml LEFT_SHIFT O  &hyphen_underscore_tilda_equal                                        &kp K                     &hmr RIGHT_SHIFT T         &hmr RIGHT_ALT N  &hmr RCTRL S          &hmr_retro LG(H) H   &kp P
&mt LC(S) LC(V)            &mt LEFT_SHIFT Z      &mt LEFT_ALT X  &kp C                &kp V              &quotations_number              &caps_word       &mt LC(LS(Z)) LC(Z)  &kp G                     &kp D                      &kp M             &mt RIGHT_ALT J       &hmr RIGHT_SHIFT B   &mt BACKSLASH SLASH
&mt LC(LS(Z)) LC(Z)        &tog 6                                                                        &mt LCTRL ENTER                 &mt LC(X) LC(C)  &mt RC(S) RC(V)      &lt 4 SPACE               &mt RIGHT_SHIFT BACKSPACE  &kp RIGHT_ALT     &kp RIGHT_GUI         &kp LEFT_SHIFT       &lt 6 RG(TAB)
            >;
        };

        default_win {
            label = "WIN";
            bindings = <
&trans     &trans   &trans  &trans  &trans  &trans                  &trans       &trans  &trans  &trans  &trans  &trans
&trans     &trans   &trans  &trans  &trans  &trans                  &trans       &trans  &trans  &trans  &trans  &trans
&lt 5 TAB  &lt 5 E  &trans  &trans  &trans  &trans                  &trans       &trans  &trans  &trans  &trans  &trans
&trans     &trans   &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans  &trans
&trans     &trans                           &trans  &trans  &trans  &lt 5 SPACE  &trans  &trans  &trans  &trans  &trans
            >;
        };

        chromebook {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans            &trans  &trans  &trans  &trans  &mt LG(D) LG(F5)
&trans  &trans  &trans  &trans  &trans  &trans                  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans
&trans  &trans                          &trans  &trans  &trans  &ht_cb_space 5 0  &trans  &trans  &trans  &trans  &trans
            >;

            label = "CHROME";
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &switch_mac  &switch_win  &switch_ipad  &switch_chromebook  &switch_mac2                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans       &trans        &trans              &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp MB3     &trans       &mkp MB2      &mkp MB1            &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans       &trans       &trans        &trans              &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                                                      &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        scroll_num_bt_layer-mac {
            label = "SCROLL_NUM Mac";
            bindings = <
&trans       &switch_mac            &switch_win          &switch_ipad    &switch_chromebook      &switch_mac2                             &trans      &trans        &trans        &trans        &trans    &bt BT_CLR
&trans       &mkp MB4               &trans               &kp UP_ARROW    &mt LG(HOME) LG(PG_UP)  &kp LC(R)                                &trans      &kp N7        &kp N8        &kp N9        &mkp MB5  &trans
&trans       &mt LC(LEFT) LA(LEFT)  &kp LEFT_ARROW       &kp DOWN_ARROW  &kp RIGHT               &mt LC(RIGHT) LA(RIGHT)                  &trans      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans    &trans
&trans       &kp LG(LEFT)           &kp LG(RIGHT_ARROW)  &trans          &mt LG(END) LG(PG_DN)   &trans                   &trans  &trans  &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0    &trans
&bootloader  &trans                                                                              &mo 6                    &trans  &trans  &trans      &trans        &trans        &trans        &trans    &bootloader
            >;
        };

        scroll_num_bt_layer-win {
            label = "SCROLL_NUM Win";
            bindings = <
&trans       &switch_mac              &switch_win     &switch_ipad    &switch_chromebook      &switch_mac2                       &trans      &trans        &trans        &trans        &trans    &bt BT_CLR
&trans       &mkp MB4                 &trans          &kp UP_ARROW    &mt LC(HOME) LC(PG_UP)  &kp LC(R)                          &trans      &kp N7        &kp N8        &kp N9        &mkp MB5  &trans
&trans       &mt HOME LC(LEFT_ARROW)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT               &mt END LC(RIGHT)                  &trans      &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans    &trans
&trans       &trans                   &trans          &trans          &mt LC(END) LC(PG_DN)   &trans             &trans  &trans  &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0    &trans
&bootloader  &trans                                                                           &mo 6              &trans  &trans  &trans      &trans        &trans        &trans        &trans    &bootloader
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&kp LS(LC(LA(DEL)))  &kp F1     &kp F2    &kp F3                          &kp F4                       &kp F5                                            &kp F6                              &kp F7                         &kp F8                              &kp F9         &kp F10        &kp F11
&trans               &trans     &trans    &mt LESS_THAN LEFT_PARENTHESIS  &mt LESS_THAN LESS_THAN      &trans                                            &trans                              &mt GREATER_THAN GREATER_THAN  &mt GREATER_THAN RIGHT_PARENTHESIS  &kp BACKSLASH  &trans         &trans
&trans               &kp EQUAL  &kp PIPE  &kp AT_SIGN                     &mt LEFT_BRACE LEFT_BRACKET  &mt LESS_THAN LEFT_PARENTHESIS                    &mt GREATER_THAN RIGHT_PARENTHESIS  &mt RIGHT_BRACE RIGHT_BRACKET  &kp AMPERSAND                       &kp ASTERISK   &kp HASH       &kp PERCENT
&trans               &trans     &trans    &kp CARET                       &trans                       &trans                          &trans  &trans    &trans                              &kp DOLLAR                     &trans                              &trans         &kp BACKSLASH  &trans
&trans               &trans                                                                            &trans                          &trans  &mkp MB3  &mkp MB1                            &mkp MB2                       &trans                              &trans         &trans         &trans
            >;
        };

        exit_mac {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "MOUSE_mac";
        };

        exit_win {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "MOUSE_win";
        };

        exit_chrome {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                          &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            label = "MOUSE_chrome";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_mac {
            if-layers = <0 3>;
            then-layer = <7>;
        };

        tri_win {
            if-layers = <1 3>;
            then-layer = <8>;
        };

        tri_chrome {
            if-layers = <2 3>;
            then-layer = <9>;
        };
    };
};
